* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: url("./images/pyramid.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}
.swal2-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.cube {
    position: relative;
    width: 400px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.f {
    width: 100%; 
    height: auto; 
    max-width: 100%;
    background: #222;
    color: rgba(255, 6, 6, 1);
    text-shadow: 0 0 50px rgba(255, 6, 6, 0.25),
0 0 100px rgba(255, 6, 6, 0.5),
0 0 200px rgba(255, 6, 6, 0.75),
0 0 300px rgba(255, 6, 6, 1);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 6, 6, 1);
    transform: translateZ(-250px);
    opacity: 0.75;
    box-shadow: 0 0 120px rgba(255, 6, 6, 0.2),
                0 0 200px rgba(255, 6, 6, 0.4),
                0 0 300px rgba(255, 6, 6, 0.6),
                0 0 400px rgba(255, 6, 6, 0.2),
                0 0 500px rgba(255, 6, 6, 1);
}
.one{
    position: absolute;
    top: 0;
    left:0;
    width: 300px; 
    height: 200px; 
    background-color: hsla(0, 0%, 43%, 0.966); 
    color: #fffbd3; 
    padding: 20px; 
    border-radius: 10px; 
    border: 2px solid;
    border-color: antiquewhite;
    text-align: center; 
    margin:10px;
}
.two{
    position: absolute;
    bottom: 0;
    right:0;
    width: 300px; 
    height: 200px; 
    background-color: hsla(0, 0%, 43%, 0.966); 
    color: #fffbd3; 
    padding: 20px; 
    border-radius: 10px; 
    border: 2px solid;
    border-color: antiquewhite;
    text-align: center; 
    margin: 10px;
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  margin: 20px;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
.right {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 12px;
  height: 390px;
  font-family:serif;
  transition: background-color 0.9s ease;
}
.right:hover{
  background-color: rgba(34, 34, 34, 0.534);
  transition: background-color 0.7s ease;
}
.right h3 {
  font-size: 19px;
  margin-bottom: 10px;
  color: #fffcfc;
  text-align: center;
  font-family: serif;
}

.right h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 1.6;
}
.left {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 12px;
  transition:background-color 0.9s ;
}

.left:hover{
  background-color: rgba(34, 34, 34, 0.534);
  transition:background-color 0.7s ;
}

.left h3 {
  font-size: 19px;
  margin-bottom: 10px;
  color: #fffcfc;
  text-align: center;
}

.left h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 1.6;
}
