* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 10px; 
  min-height: 100vh;
  height: 200vh;
  margin-top: 30px; 
  position: relative;
  line-height: 1.6; 
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.post-container {
    position: fixed;
    top: 0;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 8px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    height: 180px;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.post-container:hover {
    transform: scale(1.05);
}

textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 12px;
    border: 2.5px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    resize: none;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

textarea:focus {
    border-color: #007bff;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
    outline: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    margin-top: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 108px;
}

.custom-file-upload:hover {
    border-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #0056b3;
}

.post {
    margin-top: 10px;
    margin: 25px auto;
    padding: 25px;
    width: 950px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #e0e0e0;
    border-left: 5px solid #007bff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, border-color 0.3s, transform 0.3s ease-in-out;
}

.post:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: #0056b3;
    transform: translateY(-5px);
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: absolute;
  top: 160px;
  right: 16.5px;
  margin: 20px;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
  font-size: 14px;
  background-color: #E97F02;
 
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
/*الزرار بتاع البوست*/
#post{
  position: absolute;
  top: 109px;
  left: 150px;
  margin: 20px;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
  font-size: 14px;
  background-color: #E97F02;
}
#post::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

#post::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

#post:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

#post:hover .glowing-txt {
  animation: none;
}

#post:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

#post:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

#post:hover:after {
  opacity: 1;
}

/**/

.story-container {
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.custom-file-upload {
    cursor: pointer;
    padding: 8px 15px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

#storyText {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center;
  align-items: start; 
  margin-top: 150px; 
}

.story {
  width: 100%; 
  max-width: 300px; 
  height: 400px; 
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.story h5 {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-height: 60px; 
  margin: 0;
  padding: 5px;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

.story-image, .placeholder-image {
  width: 100%;
  height: 200px; 
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
}

.story-timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}


#postContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#storyText {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-file-upload {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.back {
  --c: #fff; 
  
  background: 
    linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #E97F02; 
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: 
    calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}
.back:hover,
.back:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.back:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.back {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
  position: absolute; 
  top: 0; 
  left: 20px; 
  z-index: 10; 
}


/*h2 at the top*/
h2 {
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(120deg, #0867f7, #004170, #03862a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 30px 0;
  padding: 15px;
  animation: glow 3s infinite alternate;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: perspective(500px) rotateX(10deg);
  border-radius: 10px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #52e5e7, 0 0 30px #92fe9d, 0 0 40px #92fe9d, 0 0 50px #52e5e7;
  }
  to {
    text-shadow: 0 0 30px #92fe9d, 0 0 40px #92fe9d, 0 0 50px #52e5e7, 0 0 60px #52e5e7;
  }
}
